@import "https://fonts.googleapis.com/css?family=Lato:100";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: consolas;
  background-color: #E0EEE0;
  font-size: 5px;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}


img {
  max-width: 100%;
}

/* Menu */

.menubar {
  margin: 0 auto 30vh;
  font-size: 4em;
  display: flex;
}

.menubar ul li {
  display: inline-block;
}

.menubar ul li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

/* Gradient background */

.textoint {
  text-align: center;
}

#section-gradient {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg, #111d5e, #c70039, #f37121, #c0e218);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;

  display: flex;
  flex-direction: column;
}

#section-gradient h1 {
  font-family: "Lato", Arial, sans-sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  margin-bottom: 25px;
}

@keyframes change {
    0% {
      background-position: 0 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0 50%
    }
}

/* Button */
.btn {
  padding: 12px 20px;
  width: 180px;
  height: 60px;
  text-decoration: none;
  font-family: "Lato", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.btn:hover {
  box-shadow:
                2px 2px #fff,
                3px 3px #fff,
                4px 4px #fff;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

/* Card boxes */

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 6px;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 160px auto;
  padding: 24px;
}

.container .box {
  position: relative;
  width: 320px;
  min-height: 400px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 65px;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .container .box {
    width: 100vw;
    margin: 20px 0;
  }
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4f4f, #ee9595, #ffcda3, #74c7b8);
}

.container .box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4f4f, #ee9595, #ffcda3, #74c7b8);
  filter: blur(20px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(45deg, #26001b, #810034, #ff005c, #fff600);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(45deg, #8c0000, #bd2000, #fa1e0e, #ffbe0f);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.container .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.container .box .content h2 {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

/* Knowledges */

.content1 {
  margin-top: 330px;
  background-color: #0c0c0c;
  display: flex;
  width: 100%;
  height: 105vh;
}

.img {
  position: relative;
  margin: 0 auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #000;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.object-1 {
    order: 1;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 550px;
    max-height: 220px;
}

.object-1-1 {
  flex-direction: column;
  flex-wrap: nowrap;
  order: 4;
  max-width: 400px;
  max-height: 400px;
}

.object-2 {
    flex-direction: column;
    order: 2;
    text-align: center;
    font-size: 4em;
}

.object-3 {
  flex-direction: column;
  order: 3;
  padding: 10px 20px;
  align-items: center;
  font-size: 4px;
  line-height: 130%;
}

.object-2, .object-3 {
  color: #fff;
}

@media (max-width: 37em) { /* 592px */
  .content1 {
    height: 105vh;
  }

  .object-1-1 {
    width: 250px;
    height: 250px;
  }

  .object-2, .object-3 {
    font-size: 2em;
  }
}

@media (max-width: 41em) { /* 656px */
  .content1 {
    height: 105vh;
  }

  .object-1-1 {
    width: 250px;
    height: 250px;
  }

  .object-2, .object-3 {
    font-size: 4em;
  }
} 

@media (max-width: 47em) {  /* 752px */
  .content1 {
    height: 105vh;
  }

  .object-1-1 {
    width: 300px;
    height: 300px;
  }

  .object-2, .object-3 {
    font-size: 4em;
  }
}

@media (max-width: 68em) { /* 1088px */
  .content1 {
    height: 105vh;
  }

  .object-1-1 {
    width: 400px;
    height: 400px;
  }

  .object-2, .object-3 {
    font-size: 5em;
  }
}

@media (max-width: 82em) {  /* 1312px */
  .content1 {
    height: 105vh;
  }

  .object-1-1 {
    width: 500px;
    height: 500px;
  }

  .object-2, .object-3 {
    font-size: 5em;
  }
}

@media (max-width: 100em) {  /* 1600px */
  .content1 {
    max-height: 105vh;
  }

  .object-1-1 {
    width: 500px;
    height: 500px;
  }

  .object-2, .object-3 {
    font-size: 5em;
  }
}

/* comeback btn */

#comeback {
  text-decoration: none;
  color: #fff;
  background-color: #FF4500;
  border: 1px solid #FF4500;
  padding: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 10px #000000;
}

.footer {
   width: 100%;
   margin-top: 2.4em;
   margin-bottom: 2.4em;
   float: left;
   clear: both;
}
