@import "https://fonts.googleapis.com/css?family=Lato:100";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: consolas;
  background-color: #E0EEE0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}


img {
  max-width: 100%;
}

/* Menu */

.menubar {
  margin: 0 auto 30vh;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  font-family: "Lato", Arial, sans-sans-serif;
}

.menubar ul li {
  display: inline-block;
}

.menubar ul li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
    .checkbtn {
      display: inline-block;
    }

    ul {
      position: absolute;
      width: 100%;
      max-height: 25vh;
      background:#0c0c0c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li {
      display: block;
      margin: 10px 0;
      line-height: 30px;
    }

    .nav ul li a {
      font-size: 20px;
    }

    #check:checked ~ ul {
      left: 0;
    }
}

/* Gradient background */

.textoint {
  text-align: center;
}

#section-gradient {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg, #1b262c, #0f4c75, #3282b8, #bbe1fa);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;

  display: flex;
  flex-direction: column;
}

#section-gradient h1 {
  font-family: "Lato", Arial, sans-sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  margin-bottom: 25px;
}

@keyframes change {
    0% {
      background-position: 0 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0 50%
    }
}

/* Button */
.btn {
  padding: 12px 20px;
  width: 180px;
  height: 60px;
  text-decoration: none;
  font-family: "Lato", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.btn:hover {
  box-shadow:
                2px 2px #fff,
                3px 3px #fff,
                4px 4px #fff;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

/* Card boxes */

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 6px;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 160px auto;
  padding: 24px;
}

.container .box {
  position: relative;
  width: 320px;
  min-height: 400px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 65px;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .container .box {
    width: 100vw;
    margin: 20px 0;
  }
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4f4f, #ee9595, #ffcda3, #74c7b8);
}

.container .box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4f4f, #ee9595, #ffcda3, #74c7b8);
  filter: blur(20px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(45deg, #26001b, #810034, #ff005c, #fff600);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(45deg, #8c0000, #bd2000, #fa1e0e, #ffbe0f);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.container .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.container .box .content h2 {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

/* Knowledges */

.content1 {
  margin-top: 330px;
  background-color: #0c0c0c;
  display: flex;
  width: 100%;
  height: 115vh;
}

.img {
  position: relative;
  margin: 0 auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #0c0c0c;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.object-1 {
    order: 1;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 300px;
}

.object-1-1 {
  flex-direction: column;
  flex-wrap: wrap;
  order: 4;
  max-width: 450px;
  max-height: 450px;
  margin-top: 10px;
}

.object-2 {
    flex-direction: column;
    order: 2;
    text-align: center;
    font-size: 40px;
}

.object-3 {
  flex-direction: column;
  order: 3;
  padding: 10px 60px;
  align-items: center;
  font-size: 25px;
  line-height: 130%;
}

.object-2, .object-3 {
  color: #fff;
  font-family: "Lato", Arial, sans-sans-serif;
}

@media (max-width: 800px) {
  .container1 {
    height: 100vh;
  }

  .object-1 {
    max-width: 300px;
    max-height: 200px;
  }

  .object-1-1 {
    max-width: 300px;
    max-height: 300px;
  }

  .object-2, .object-3 {
    font-size: 15px;
  }
}

/* comeback btn */

#comeback {
  text-decoration: none;
  color: #fff;
  background-color: #FF4500;
  border: 1px solid #FF4500;
  padding: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 10px #000000;
}

/* Footer */

footer {
   width: 100%;
   height: 100vh;
   background-color:  #0c0c0c;
}

.flex-container2 {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #0c0c0c;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.object-4 img {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(45deg,#111d5e, #c70039, #f37121, #c0e218);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 5px;
  border-radius: 50vh;
  flex-direction: column;
  flex-wrap: wrap;
  order: 1;
  float: right;
  margin-right: 30px;
  margin-top: 70px;
}

.object-5 {
  flex-direction: column;
  flex-wrap: wrap;
  order: 2;
  font-size: 35px;
}

.object-6 {
  flex-direction: column;
  flex-wrap: wrap;
  order: 3;
  font-size: 25px;
}

.object-5, .object-6 {
  color: #fff;
  font-family: "Lato", Arial, sans-sans-serif;
  text-align: center;
  line-height: 35px;;
}

@media (max-width: 800px) {
  .object-4 img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: 70px;
  }
}

/* Form */

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(contactbackground.jpg);
  background-size: cover;
}

.contact .contact-boxtext {
  max-width: 800px;
}

.contactForm {
  width: 100%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.contactForm h2 {
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.box {
  margin-top: 20px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #333;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #0c0c0c;
  color: #fff;
  border: none;
  border-radius: 3.5px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contact-box .contact-info {
    margin-bottom: 40px;
  }

  .contact-box .contact-info,
  .contactForm {
    width: 100%;
  }
}